/* main color */
$blue-100: #00C5D5;
$blue-200: #03B3C4;
$blue-300: #06A1B3;
$blue-400: #098FA2;
$blue-500: #0C7D91;
$blue-600: #0F6A7F;
$blue-700: #12586E;
$blue-800: #15465D;
$blue-900: #18344C;

/* gray scale */
$gray-100: #F9FAFB;
$gray-200: #E1E4E7;
$gray-300: #CACED4;
$gray-400: #B2B8C0;
$gray-500: #9BA3AC;
$gray-600: #838D98;
$gray-700: #6B7785;
$gray-800: #546171;
$gray-900: #3C4B5D;